<div
  class="product-container"
  style="width: 788px; margin-top: 20px; margin-left: 30px"
>
  <h5 style="color: blueviolet; font-weight: bold">
    Full Stack App with Angular 18, Python (Django) & PostgreSQL
  </h5>
  <mat-form-field style="width: 175px; height: 63px">
    <input
      matInput
      type="text"
      name="name"
      id="name"
      [(ngModel)]="product.name"
      placeholder="Enter name"
    />
    <mat-icon fontIcon="store" matSuffix></mat-icon>
  </mat-form-field>
  <mat-form-field style="width: 175px; height: 63px; margin-left: 15px">
    <input
      matInput
      type="text"
      name="brand"
      id="brand"
      [(ngModel)]="product.brand"
      placeholder="Enter brand"
    />
    <mat-icon fontIcon="brand" matSuffix></mat-icon>
  </mat-form-field>
  <mat-form-field style="width: 175px; height: 63px; margin-left: 15px">
    <input
      matInput
      type="text"
      name="price"
      id="price"
      [(ngModel)]="product.price"
      placeholder="Enter price"
    />
    <mat-icon fontIcon="monetization_on" matSuffix></mat-icon>
  </mat-form-field>
  <button mat-flat-button style="margin-left: 25px; background-color: #6200ea" (click)="addUpdateProduct(product)">
    Add
  </button>
  <button mat-flat-button style="margin-left: 15px; background-color: red">
    Cancel
  </button>
  <br />
  <mat-form-field style="width: 182px; height: 63px">
    <input
      matInput
      type="text"
      name="price"
      id="searchinput"
      (input)="searchProducts(filter.value)"
      placeholder="Search product"
    />
    <mat-icon fontIcon="search" matSuffix></mat-icon>
  </mat-form-field>
  <br />
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Product ID</th>
      <td mat-cell *matCellDef="let product">{{ product.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef>Brand</th>
      <td mat-cell *matCellDef="let product">{{ product.brand }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product">{{ product.price | currency:'USD':'symbol' }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let product"><button mat-flat-button style="background-color: #6200ea;width: auto;height: 27px;" (click)="setProduct(product)">Edit</button></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let product"><button mat-flat-button style="background-color: red;width: auto;height: 27px;" (click)="deleteProduct(product.id)">Delete</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
